<h1>Events</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
    </tr>
  <% end %>
</table>

<p>
    <%= link_to 'New Event', new_event_path %>
</p>
